<div>
	<h2>{{ title }}</h2>
	<h4>{{ subtitle }}</h4>
	<br>
	<form #formTicket="ngForm" (ngSubmit)="onSubmit(formTicket.value)">

		<label for="name">Name</label>
		<input type="text" name="f_name" id="f_name" placeholder="First Name" [(ngModel)]="f_name">
		<input type="text" name="l_name" id="l_name" placeholder="Last Name" [(ngModel)]="l_name">
		<br>
		<br>
		<label for="ticket_no">Number Of Tickets</label>
		<input type="number" name="ticket_no" id="ticket_no" [(ngModel)]="ticket_no">
		<br>
		<br>
		<label for="category">Category</label>
		<br>
		<input type="radio" name="category" [(ngModel)]="category" value="200.00">Front Stage - RM200.00
		<br>
		<input type="radio" name="category" [(ngModel)]="category" value="120.00">Middle Stage - RM120.00
		<br>
		<input type="radio" name="category" [(ngModel)]="category" value="100.00">Balcony - RM100.00
		<br>
		<input type="radio" name="category" [(ngModel)]="category" value="20.00">Open Seeting - RM 20.00
		<br>
		<label for="total_price">Total Price</label>
		<br>
		RM <input type="number" name="total_price" id="total_price" [(ngModel)]="total_price" value="{{ ticket_no * category }}"/>
		<br>
		<br>
		<input type="submit" value="Submit">

	</form>
</div>