<h6>* REFRESH THE BROWSER TO SEE CHANGES ADDED INTO THE TABLE</h6>
<table>
	<caption>Data</caption>
	<thead>
		<th>ID</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Category</th>
		<th>Number of Ticket</th>
		<th>Total Price</th>
	</thead>
	<tbody>
		<tr *ngFor="let ticket of tickets;">
			<td>{{ticket.ticket_id}}</td>
			<td>{{ticket.f_name}}</td>
			<td>{{ticket.l_name}}</td>
			<td>{{ticket.category}}</td>
			<td>{{ticket.ticket_no}}</td>
			<td>{{ticket.total_price}}</td>
		</tr>
	</tbody>
</table>